asgiref==3.7.2
attrs==23.1.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.12
ddt==1.6.0
distlib==0.3.7
Django==4.2.6
django-appconf==1.0.5
django-ckeditor==6.7.0
django-imagekit==5.0.0
django-js-asset==2.1.0
django-taggit==4.0.0
exceptiongroup==1.1.2
filelock==3.12.4
h11==0.14.0
idna==3.4
lxml==4.9.3
Markdown==3.5
outcome==1.2.0
pbr==5.11.1
pilkit==3.0
Pillow==10.0.1
platformdirs==3.11.0
pycparser==2.21
PyMySQL==1.1.0
PySocks==1.7.1
requests==2.27.0
selenium==4.11.2
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
stevedore==5.1.0
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.25.8
virtualenv==20.24.5
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wsproto==1.2.0
