{% extends "web/base.html" %}
{% load static %}
{% block title %}
    {{ art.title }}
{% endblock title %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static '/css/article.css' %}>
{% endblock css %}


{% block content %}
    <div class="article">
        <div class="article-title">
            <p>{{ art.title }}</p>
        </div>
        <div class="tags">
                {% for tag in art.tags.all %}
                    <a href={% url 'article:index' %}?tag={{ tag }}><span class="label label-primary">{{ tag }}</span></a>
                {% endfor %}
        </div>
        <div class="article-content">
            <div class="contents">
                <!-- 缺文章 -->
                {{ art.text|safe }}
            </div>
        </div>
    </div>
{% endblock content %}