{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>#}
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href={% static '/css/bootstrap.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static '/css/diary.css' %}>
    {% block css %}{% endblock %}
	<link rel="stylesheet" type="text/css" href={% static '/css/font-awesome.min.css '%}>
    <script type="text/javascript" src={% static '/js/jquery-1.12.4.min.js' %}></script>
    <script type="text/javascript" src={% static '/js/bootstrap.min.js' %}></script>
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
{#    <script type="text/javascript" src={% static '/js/index.js' %}></script>#}


</head>
<body>

	<!-- 导航栏 -->
    {% include 'web/header.html' %}

	<!-- 主站内容 -->
	<div id="zan-bodyer">
		<div class="container">
			<div class="row">
				<!-- 左边的内容 -->
				<div id="mainstay" class="col-xs-8">
					<!-- 文章列表 -->
					<div id="article-list">
                        {% block content %}{% endblock content %}
					</div>
				</div>
				<!-- 右边的内容 -->
				<aside class="col-xs-4" id="sidebar">
					<!-- 搜索栏 -->
					<aside id="search">
							<form class="form-inline clearfix" method="post" id="searchform" action="/diary">
                                {% csrf_token %}
							   <input class="form-control" type="text" name="s-d" id="s-d" placeholder="请输入要搜索的关键字">
							   <button type="submit" class="btn btn-danger btn-small" name="submit">
								   <i class="fa fa-search"></i>
								</button>
							</form>
					</aside>
					<!-- 快捷菜单 -->
					<aside id="sub_menu">
                        <a href="/index" class="btn btn-danger" role="button">网站首页</a>
                        <a href={% url 'article:diary_index' %} class="btn btn-danger" role="button">个人日记</a>
                        <a href={% url 'article:readme' %} class="btn btn-danger" role="button">关于本站</a>
                        <a href="#" class="btn btn-danger" role="button">Github</a>
					</aside>
				</aside>
			</div>
		</div>
	</div>

	<span class="pid">ID:80414367</span>

    {% include 'web/footer.html' %}

</body>
</html>